<section>
    <h1>Einkauf planen</h1>

    <p>In der App siehst du Bilder von Lebensmitteln und Dingen, die du kaufen
        willst.</p>
    <p>Du kannst auf das Bild drücken und es auf deine Einkaufsliste setzen.</p>
    <p>So weißt du genau, was du einkaufen willst.</p>

    <h2>Kategorien</h2>

    <div class="shopping-categories">
        @for(categorie of this.categories; track $index) {
        <div>
            <strong>{{ getCategoryName(categorie) }}</strong>
            <img [src]="categorie" alt="">
        </div>
        }
    </div>
</section>