<section>
    <div>
        <div>
            Easylist Logo
        </div>
        <div class="owner">
            &copy; Pascal Nehlsen
            <a routerLink="/imprint">Impressum</a>
        </div>
        <div class="footer-menu">
            <a href="https://www.linkedin.com/in/pascal-nehlsen/" target="_blank">LinkedIn</a>
            <a href="https://github.com/PascalNehlsen" target="_blank">GitHub</a>
            <a href="mailto:mail@pascal-nehlsen.de">Email</a>
        </div>
    </div>
</section>