<section>
    <div>
        <div class="aft-menu">
            <a routerLink="/plan-purchase">Einkauf planen</a>
            |
            <a routerLink="/make-a-purchase">Einkauf machen</a>
            |
            <a routerLink="/sort-at-home">Zu Hause einsortieren</a>
        </div>
        <p>Diese App hilft dir beim Einkaufen. <br>
            Mit dieser App kannst du alles planen und nichts vergessen.</p>
        <h3>Warum die App gut ist:</h3>
        <div class="app-benefits">
            <p>Du vergisst nichts mehr.</p>
            <p>Die App ist einfach zu bedienen.</p>
            <p>Du siehst immer Bilder, das hilft beim Einkaufen.</p>
        </div>
    </div>
</section>