section {
  display: flex;
  justify-content: center;
  height: calc(100vh - 202px);
  align-items: center;
  > div:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    width: 1440px;
    > p {
      text-align: center;
      margin-bottom: 20px;
    }
    > p:first-of-type {
      font-size: 32px;
    }
    > h1 {
      font-size: 56px;
    }
  }
}

h3 {
  margin-bottom: 5px;
}

.aft-menu {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 50px;
  align-items: center;
  font-size: 40px;
  gap: 40px;
  margin-bottom: 50px;
  > a {
    text-decoration: none;
    color: rgb(0, 131, 0);
    font-size: 40px;
    text-align: center;
    &:hover {
      color: rgb(0, 90, 0);
    }
  }
}

.app-benefits {
  text-align: center;
}
