<section>
    <div>
        <div class="aft-menu">
            <div>
                <img src="./assets/images/general/shopping-list.png" alt="">
                <a routerLink="/plan-purchase">Einkauf planen</a>
            </div>
            <div class="seperator"></div>
            <div>
                <img src="./assets/images/general/shopping-cart.png" alt="">
                <a routerLink="/make-a-purchase">Einkauf machen</a>
            </div>
            <div class="seperator"></div>
            <div>
                <img src="./assets/images/general/home.png" alt="">
                <a routerLink="/sort-at-home">Einkauf einräumen</a>
            </div>
        </div>
        <p>Diese App hilft dir beim Einkaufen. <br>
            Mit dieser App kannst du alles planen und nichts vergessen.</p>
        <h3>Warum die App gut ist:</h3>
        <div class="app-benefits">
            <p>Du vergisst nichts mehr.</p>
            <p>Die App ist einfach zu bedienen.</p>
            <p>Du siehst immer Bilder, das hilft beim Einkaufen.</p>
        </div>
    </div>
</section>