section {
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.shopping-categories {
  margin-top: 0;
  padding: 20px;
}
